@model List<FormsHomework.Models.Task>
@{
    ViewBag.Title = "title";
}

<div class="jumbotron">
    <h1>Tasks</h1>
</div>

<ul>
    @foreach (var i in Model)
    {
        <span><h2>Name : @i.Name </h2>
        <br /> Description: @i.Information   <br/> Complete: @i.IsDone</span>
    }
    <br />
    @Html.ActionLink("Add Task", "Create")
    
</ul>
