@model System.Collections.Generic.List<FormsHomework.Models.Task>
@{
    ViewBag.Title = "title";
}

<div class="jumbotron">
    <h1>Tasks</h1>
</div>

<div class="row ">
    @foreach (var i in Model)
    {
        <li>Name : @i.Name, Description: @i.Information, Complete: @i.IsDone</li>
    }
    <br />
    @Html.ActionLink("Add Task", "Create")
</div>

